In [24]:
#import libraries
import pandas as pd

import string
import nltk
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [4]:
#load the dataset
df = pd.read_csv('C:\\Users\\pkmra_fk94jjw\\Downloads\\spam.csv',encoding='Windows-1252')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

In [6]:
pd.set_option('display.max_colwidth', None)
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives around here though",NaN,NaN,NaN

In [7]:
#only using wanted columns
df = df[['v1','v2']]
df.head(10)

,v1,v2
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"
5,spam,"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv"
6,ham,Even my brother is not like to speak with me. They treat me like aids patent.
7,ham,As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
8,spam,WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
9,spam,Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

In [8]:
df.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [9]:
#labelling as Spam or ham
def custom_encoder(df):
    df.replace(to_replace=["ham"], value=1, inplace=True)
    df.replace(to_replace=["spam"], value=0, inplace=True)
    return df

In [10]:
df.v1 = custom_encoder(df.v1)
df.head(5)

,v1,v2
0,1,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,1,Ok lar... Joking wif u oni...
2,0,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,1,U dun say so early hor... U c already then say...
4,1,"Nah I don't think he goes to usf, he lives around here though"

In [11]:
df.v1.value_counts()

1    4825
0     747
Name: v1, dtype: int64

In [12]:
#Data preprocessing

In [13]:
#remove punctuations
def remove_punctuation(v2):
    punctuationfree="".join([i for i in v2 if i not in string.punctuation])
    return punctuationfree

In [14]:
#word tokenisation
nltk.download('punkt')
def tokenization(v2):
    words = nltk.word_tokenize(v2)
    return words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pkmra_fk94jjw\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [15]:
#remove stopwords
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(v2):
    output= [i for i in v2 if i not in stopwords]
    return output

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pkmra_fk94jjw\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
#Lemmatization
nltk.download('wordnet')
nltk.download('omw-1.4')
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\pkmra_fk94jjw\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\pkmra_fk94jjw\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [17]:
def preprocess(df_col):
    corpus = []
    for item in df_col:
        new_item = remove_punctuation(item)
        new_item = new_item.lower()
        new_item = tokenization(new_item)
        new_item = remove_stopwords(new_item)
        new_item = lemmatizer(new_item)
        corpus.append(' '.join(str(x) for x in new_item))
    return corpus

In [19]:
corpus = preprocess(df.v2)
corpus[0:5]

['go jurong point crazy available bugis n great world la e buffet cine got amore wat',
 'ok lar joking wif u oni',
 'free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questionstd txt ratetcs apply 08452810075over18s',
 'u dun say early hor u c already say',
 'nah dont think go usf life around though']

In [20]:
df.v1.head(10)

0    1
1    1
2    0
3    1
4    1
5    0
6    1
7    1
8    0
9    0
Name: v1, dtype: int64

In [ ]:
#Bag of words

In [22]:
cv = CountVectorizer(ngram_range=(1,2))
traindf = cv.fit_transform(corpus)
X = traindf
y = df.v1

In [23]:
#random forest
clf = RandomForestClassifier(n_estimators = 100)
clf.fit(X, y)

RandomForestClassifier()

In [25]:
#find accuracy
y_pred = clf.predict(X) 
metrics.accuracy_score(y_pred, y)

1.0

In [26]:
#testing

In [27]:
def find_sentiment(input):
    input = cv.transform(preprocess(input))
    prediction = clf.predict(input)
    if prediction == 0: 
        print('Spam')
    if prediction == 1:
        print('Ham')

In [31]:
input = ["Life is always a chaotic mess. But you will survive! Keep going. You got this!!"]
find_sentiment(input)

Ham

In [34]:
input=["You are awarded a Nikon Digital Camera. Call now"]
find_sentiment(input)

Ham